@model List<CategoryVM>
<div class="container my-3">
    <h2 class="text-center">Sliders</h2>
    <div class="create-btn ">
        <a asp-action="Create" class="btn btn-success btn-rounded btn-fw">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                            @item.Name
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary btn-rounded btn-fw">Detail</a>
                            <a href="#" class="btn btn-warning btn-rounded btn-fw">Edit</a>
                            <a href="#" class="btn btn-danger btn-rounded btn-fw">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

