@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<section id="products" data-count="@ViewBag.productCount">
    <h1 class="text-center">Products</h1>
    <div class="container">
        <div class="row" id="parent-elem">
            <partial name="_ProductPartial"/>
        </div>
        <div class="row my-5 d-flex justify-content-center">
            <button class="btn-primary btn show-more-btn">Show more</button>
            <button class="btn-primary btn show-less-btn d-none">Show less</button>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/shop.js"></script>
    <script src="~/js/basket.js"></script>
}